.chat-rooms {
  &__heading {
    margin: 30px 0;
    text-align: center;
  }
  &__message-container {
    margin: 0 auto;
    max-width: 640px;
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
  }
  &__message-author {
    font-weight: bold;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
  }
  &__message-timestamp {
    font-size: $font-size-sm;
    color: #adadad;
  }
  &__message-body {
    margin-bottom: 30px;
  }
}
