.sign-in {
  &__container {
    max-width: 400px;
    margin: 0 auto;
    form {
      margin-bottom: 20px;
    }
  }
  &__heading {
    margin-bottom: 20px;
  }
  &__field-label {
    font-family: "Roboto Condensed";
    text-transform: uppercase;
  }
}
